
<div class="main-text">
  <h1>Add a new File</h1>
  <%= simple_form_for @uploadfile, url: uploadfiles_path do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :size %>
    <br />
    <%= f.input :genericfile, label: 'File (Images, Text, Video, Music...)' %>    
    <br />
    <%= f.submit "Create", class: 'btn btn-primary' %>
    <br />
  <% end %>
  <br />
</div>