<div class="main-text, text-center">
	<h1> Your Upload </h1>
	</br> 	
	  	<p> User: <b><%= @uploadfile.user.email %></b></p>
		<br />
	  	<p>File Name: <b><%= @uploadfile.title %></b></p>
		<br />
	  	<p>Description: <b><%= @uploadfile.description %></b></p>
		<br />
		<p>Upload Size: <b><%= @uploadfile.size %></b></p>
		<br />
		<p>Your Upload: <b><%= link_to 'File', @uploadfile.video.to_s %></p>
</div>

<!-- <script src="//simplybook.it/v2/widget/widget.js"></script>
<script>var widget = new SimplybookWidget({"widget_type":"iframe","url":"https:\/\/growyourowncloud.simplybook.it","theme":"space","theme_settings":{"sb_base_color":"#26d443","timeline_show_end_time":"0","dark_font_color":"#000000","light_font_color":"#ffffff","hide_img_mode":"0","sb_busy":"#dad2ce","sb_available":"#d3e0f1"},"timeline":"modern","datepicker":"inline_datepicker","is_rtl":false,"app_config":{"predefined":{"provider":"1","service":"1"}}});</script> -->