<div class="main-text, text-center">
	<h1> Your Upload </h1>
	</br> 	
	  	<p> User: <b><%= @uploadfile.user.email %></b></p>
		<br />
	  	<p>File Name: <b><%= @uploadfile.title %></b></p>
		<br />
	  	<p>Description: <b><%= @uploadfile.description %></b></p>
		<br />
		<p>Upload Size: <b><%= @uploadfile.size %></b></p>
		<br />
		<p>Your Upload: <b><%= link_to 'File', @uploadfile.video.to_s %></p>
</div>
