<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grow Your Own Cloud</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
      <div class="bg"></div>
<!-- Flex Container	for main body-->
    <div id="flex-content-container">
<!-- Top Navigation	-->
	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <a class="logo">
     <img src="https://growyourown.cloud/css/gyoc_logo_clean.svg">
    </a>
	  </a>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
	        <a class="nav-link" href="#"> </a>
	      </li>
        <li class="nav-item">
<!--         link to upload (hidden) -->
          <%= link_to '',new_uploadfile_path, data: { turbolinks: false }, :style=>'color:grey; line-height:40px; text-decoration:none', :class => "css_class" %> 
        
<!-- , {:style=>'color:grey; line-height:40px; text-decoration:none', :class => "css_class"} -->
        </li>
	    </ul>
<!-- User Sign-In -->
	    <ul class="navbar-nav">
      		<% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'My Account', user_path(current_user), class: 'nav-link' %>
          </li>           
        	<li class="nav-item">
          	<%= link_to 'Sign-Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        	</li>
     		 <% else %>
       		 <li class="nav-item">
       		 <%= link_to '', new_user_session_path, class: 'nav-link' %>
       		 </li>
       		 <li>
       		 <%= link_to '', new_user_registration_path, class: 'nav-link' %>
        	</li>
      		<% end %>
    	</ul>
	  </div>
	</nav>

<!-- Simple Form Alerts	-->	
	<% if notice.present? %>
	  <p class="alert alert-info"><%= notice %></p>
	<% end %>
	<% if alert.present? %>
	  <p class="alert alert-danger"><%= alert %></p>
	<% end %>

    <%= yield %>	
	</div>

<!-- Footer -->
   <!--  <div id="footer">
      <div class="container">
        <b>How we handle your data</b>
        <br />
        <%= link_to 'Link', '#' %>
      </div>
    </div> -->
  </div>
  </body>
</html>
